@charset "UTF-8";
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Outfit", sans-serif;
}

a, p, span, pre, ul, li {
  margin: 0;
  padding: 0;
}

h1 {
  font-family: "Audiowide", sans-serif;
  font-size: 55px;
}

h2 {
  font-family: "Audiowide", sans-serif;
  font-size: 45px;
}

h3 {
  font-family: "Audiowide", sans-serif;
  font-size: 35px;
}

h4 {
  font-family: "Audiowide", sans-serif;
  font-size: 28px;
}

h5 {
  font-family: "Audiowide", sans-serif;
  font-size: 24px;
}

h6 {
  font-family: "Audiowide", sans-serif;
  font-size: 20px;
}

.btn-orange {
  background-color: #e1680b;
  color: #ffffff;
  cursor: pointer;
  padding: 12px 50px;
  border-radius: 60px;
  border: 1px solid #e1680b;
  transition: all 0.5s;
  box-shadow: none;
  font-family: "Audiowide", sans-serif;
}
.btn-orange:hover {
  background-color: #fbbf18;
  color: black;
  border-color: #fbbf18;
}

.pd-60 {
  padding: 60px 0;
}

.pt-60 {
  padding: 60px 0 0 0;
}

.pb-60 {
  padding: 0 0 60px 0;
}

.pd-100 {
  padding: 100px 0;
}

.pt-100 {
  padding: 100px 0 0 0;
}

.pb-100 {
  padding: 0 0 100px 0;
}

a {
  text-decoration: none;
}

.container {
  max-width: 1140px;
  margin: 0 auto;
}

.custom-fluid {
  padding: 0 2rem;
}

.header--top {
  background-color: #4a6d97;
  padding: 11px;
  align-content: center;
}
.header--top .content {
  display: flex;
  justify-content: space-between;
}
.header--top .content .header--left {
  padding: 0 40px;
}
.header--top .content .header--left ul {
  list-style: none;
  display: flex;
  gap: 10px;
}
.header--top .content .header--left ul li a {
  display: inline-block;
  margin-right: 10px;
  width: 30px;
  height: 30px;
  text-align: center;
  line-height: 30px;
  cursor: pointer;
  background-color: #ffffff;
  border-radius: 50%;
  transition: all 0.5s;
  color: #191919;
}
.header--top .content .header--left ul li a:hover {
  color: #fbbf18;
}
.header--top .content .header--right {
  padding: 0 40px;
}
.header--top .content .header--right ul {
  list-style: none;
  display: flex;
  gap: 10px;
}
.header--top .content .header--right ul li a {
  display: inline-block;
  margin-right: 50px;
  font-size: 16px;
  line-height: 30px;
  cursor: pointer;
  transition: all 0.5s;
  color: #ffffff;
}
.header--top .content .header--right ul li a:hover {
  color: #fbbf18;
}

@media (max-width: 768px) {
  .content {
    flex-direction: column;
    align-items: center;
  }
  .content .header--left, .content .header--right {
    padding: 0;
  }
  .content .header--left ul, .content .header--right ul {
    justify-content: center;
  }
  .content .header--left ul li a, .content .header--right ul li a {
    margin-right: 5px;
    width: 25px;
    height: 25px;
    line-height: 25px;
  }
}
@media (max-width: 576px) {
  .content .header--left ul li a, .content .header--right ul li a {
    margin-right: 3px;
    width: 20px;
    height: 20px;
    line-height: 20px;
    font-size: 14px;
  }
}
header {
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  font-family: "Outfit", sans-serif;
  font-size: 16px;
  font-weight: bold;
  background-color: #191919;
  padding: 11px;
}
header .navbar {
  align-items: center;
  display: flex;
  justify-content: space-between;
}
header .navbar .navbar-brand {
  padding: 0 50px;
  width: 30%;
}
header .navbar .navbar-collapse {
  width: 70%;
  margin-top: 15px;
}
header .navbar .navbar-collapse ul {
  list-style: none;
  gap: 10px;
}
header .navbar .navbar-collapse ul li {
  padding: 0 30px;
}
header .navbar .navbar-collapse ul li .dropdown-menu {
  background-color: #191919;
}
header .navbar .navbar-collapse ul li a {
  color: #ffffff;
  transition: all 0.5s;
}
header .navbar .navbar-collapse ul li a:hover {
  color: #fbbf18;
}
header .navbar .navbar-collapse ul li a.active {
  color: #fbbf18;
}
header .navbar .navbar-collapse .headerSearch {
  display: flex;
}
header .navbar .navbar-collapse .headerSearch .input_search {
  position: relative;
  margin-left: 2rem;
}
header .navbar .navbar-collapse .headerSearch .btnSearch {
  position: absolute;
  background-color: #e1680b;
  color: #ffffff;
  right: 10px;
  transition: all 0.5s;
  border: 1px solid transparent;
  cursor: pointer;
}
header .navbar .navbar-collapse .headerSearch .btnSearch:hover {
  background-color: #fbbf18;
  color: #191919;
}

@media screen and (max-width: 992px) {
  .header .navbar {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
  }
}
.carousel .carousel-indicators {
  display: none;
}
.carousel .carousel-inner {
  cursor: grab;
}
.carousel .carousel-inner .carousel-item img {
  display: block;
  width: 100%;
}
.carousel .carousel-inner .carousel-item .carousel-caption {
  margin-top: 75px;
  top: 0;
  left: 0;
  padding: 55px 35px;
  text-align: left;
}
.carousel .carousel-inner .carousel-item .carousel-caption .baner_title {
  font-size: 20px;
  color: #191919;
}
.carousel .carousel-inner .carousel-item .carousel-caption h2 {
  font-size: 55px;
  font-weight: 400px;
  color: #191919;
  margin-top: 10px;
  font-family: "Audiowide", sans-serif;
  line-height: 1.5;
}
.carousel .carousel-inner .carousel-item .carousel-caption h2 span {
  color: #e1680b;
}
.carousel .carousel-inner .carousel-item .carousel-caption .baner_text {
  margin: 20px 0;
  color: #191919;
  font-size: 20px;
  color: #191919;
}
.carousel .carousel-inner .carousel-item .carousel-caption .baner_button {
  content: "";
  position: absolute;
  z-index: 1;
  border-radius: 40px;
  background-color: #e1680b;
  padding: 1rem 3rem;
  transition: all 0.5s;
  margin-top: 20px;
}
.carousel .carousel-inner .carousel-item .carousel-caption .baner_button a {
  font-family: "Audiowide", sans-serif;
  color: #ffffff;
  font-size: 20px;
}
.carousel .carousel-inner .carousel-item .carousel-caption .baner_button:hover {
  background-color: #fbbf18;
}
.carousel .carousel-inner .carousel-item .carousel-caption .baner_button:hover a {
  color: #191919;
}

.product {
  padding: 144px 40px 0;
}
.product .product_title {
  text-align: center;
  color: #191919;
  line-height: 1.5;
}
.product .product_title .title {
  font-family: "Audiowide", sans-serif;
  font-weight: 400px;
  font-size: 35px;
  text-transform: uppercase;
}
.product .product_title .description {
  padding: 10px;
  font-size: 16px;
}
.product .product_content {
  padding-top: 54px;
  display: grid;
  grid-template-columns: repeat(5, 1fr); /* 5 cột với chiều rộng bằng nhau */
  gap: 20px; /* Khoảng cách giữa các cột */
  width: 100%; /* Chiều rộng của container */
}
@media (max-width: 992px) {
  .product .product_content {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media (max-width: 768px) {
  .product .product_content {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 576px) {
  .product .product_content {
    grid-template-columns: repeat(1, 1fr);
  }
}
.product .product_content .img_center {
  border: 5px solid #e1680b;
  border-radius: 10em;
  overflow: hidden;
}
.product .product_content .product_img a {
  display: block;
  width: 100%;
  height: 100%;
}
.product .product_content .product_img a img {
  width: 100%;
  height: 100%;
  position: relative;
}
.product .product_content .product_img {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 5px solid #fff;
  border-radius: 10em;
  overflow: hidden;
  width: 100%;
  height: 100%;
}
.product .product_content .product_img .imgItem {
  width: 100%;
  height: 100%;
}
.product .product_content .product_img .imgItem a {
  display: block;
  width: 100%;
  height: 100%;
}
.product .product_content .product_img .imgItem a img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.product .product_content .product_img .imgtext_overlay {
  position: absolute;
  bottom: 5%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: rgba(255, 255, 255, 0);
  color: white;
  padding: 10px 20px;
  border-radius: 10px;
  text-align: center;
}
.product .product_content .product_img .imgtext_overlay a {
  color: white;
  text-decoration: none;
}
.product .product_content .product_img .imgtext_overlay a h3 {
  font-family: "Audiowide", sans-serif;
}
.product .product_content .product_imgcenter {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 5px solid #e1680b;
  border-radius: 10em;
  overflow: hidden;
  width: 100%;
  height: 100%;
}
.product .product_content .product_imgcenter .imgcenter {
  width: 100%;
  height: 100%;
}
.product .product_content .product_imgcenter .imgcenter a {
  display: block;
  width: 100%;
  height: 100%;
}
.product .product_content .product_imgcenter .imgcenter a img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.product .product_content .product_imgcenter .imgtext_overlay {
  position: absolute;
  bottom: 5%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: rgba(255, 255, 255, 0);
  color: white;
  padding: 10px 20px;
  border-radius: 10px;
  text-align: center;
}
.product .product_content .product_imgcenter .imgtext_overlay a {
  color: white;
  text-decoration: none;
}
.product .product_content .product_imgcenter .imgtext_overlay a h3 {
  font-family: "Audiowide", sans-serif;
}

.pick_shoe {
  padding: 144px 40px 0;
}
.pick_shoe .pick_title {
  text-align: center;
  color: #191919;
  line-height: 1.5;
}
.pick_shoe .pick_title .titlepick {
  font-family: "Audiowide", sans-serif;
  font-weight: 400px;
  font-size: 35px;
  text-transform: uppercase;
}
.pick_shoe .pick_title p {
  padding: 10px;
  font-size: 16px;
  margin-top: 20px;
  margin-bottom: 40px;
}
.pick_shoe .pick_link {
  cursor: pointer;
  margin-top: 20px;
  margin-bottom: 40px;
  display: flex;
  justify-content: center;
  gap: 40px;
  text-align: center;
}
.pick_shoe .pick_link .picktext_link {
  padding: 20px;
  font-weight: 600;
  font-size: 24px;
  text-transform: uppercase;
  color: #191919;
  transition: all 0.5s;
}
.pick_shoe .pick_link .picktext_link:hover {
  color: #e1680b;
}
.pick_shoe .pick_link .active {
  color: #e1680b;
}
.pick_shoe .pick_content .swiper .swiper-wrapper .swiper-slide {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}
.pick_shoe .pick_content .swiper .swiper-wrapper .swiper-slide .swiper-slide-img {
  height: 70%;
}
.pick_shoe .pick_content .swiper .swiper-wrapper .swiper-slide .swiper-slide-img img {
  width: 100%;
  height: 100%;
}
.pick_shoe .pick_content .swiper .swiper-wrapper .swiper-slide .swiper-slide-text {
  padding: 30px;
  height: 30%;
}
.pick_shoe .pick_content .swiper .swiper-wrapper .swiper-slide .swiper-slide-text .swiper_title {
  display: flex;
  justify-content: space-between;
  gap: 10px;
  cursor: pointer;
}
.pick_shoe .pick_content .swiper .swiper-wrapper .swiper-slide .swiper-slide-text .swiper_title h5 {
  font-family: "Audiowide", sans-serif;
  font-weight: 400px;
  font-size: 20px;
  text-transform: capitalize;
  color: #191919;
  transition: all 0.5s;
}
.pick_shoe .pick_content .swiper .swiper-wrapper .swiper-slide .swiper-slide-text .swiper_title h5:hover {
  color: #fbbf18;
}
.pick_shoe .pick_content .swiper .swiper-wrapper .swiper-slide .swiper-slide-text .swiper_title a {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  line-height: 60px;
  background-color: #e1680b;
  text-align: center;
}
.pick_shoe .pick_content .swiper .swiper-wrapper .swiper-slide .swiper-slide-text .swiper_title a .fa-cart-shopping {
  color: #ffffff;
  font-size: 20px;
}
.pick_shoe .pick_content .swiper .swiper-wrapper .swiper-slide .swiper-slide-text .swiper_title a:hover {
  background-color: #fbbf18;
}
.pick_shoe .pick_content .swiper .swiper-wrapper .swiper-slide .swiper-slide-text .swiper_title a:hover .fa-cart-shopping {
  color: #191919;
}
.pick_shoe .pick_content .swiper .swiper-wrapper .swiper-slide .swiper-slide-text .star .fa-star {
  color: #fbbf18;
}
.pick_shoe .swiper-pagination {
  display: none;
}
.pick_shoe .pick_button {
  left: 40%;
  position: absolute;
  z-index: 1;
  border-radius: 40px;
  background-color: #fbbf18;
  padding: 1rem 3rem;
  transition: all 0.5s;
  margin-top: 20px;
}
.pick_shoe .pick_button a {
  font-family: "Audiowide", sans-serif;
  color: #191919;
  font-size: 20px;
}
.pick_shoe .pick_button:hover {
  background-color: #e1680b;
}
.pick_shoe .pick_button:hover a {
  color: #ffffff;
}

.deal_shoe {
  padding: 144px 40px 0;
}
.deal_shoe .deal_title {
  text-align: center;
  color: #191919;
  line-height: 1.5;
}
.deal_shoe .deal_title .titledeal {
  font-family: "Audiowide", sans-serif;
  font-weight: 400px;
  font-size: 35px;
  text-transform: uppercase;
}
.deal_shoe .deal_title p {
  padding: 10px;
  font-size: 16px;
  margin-top: 20px;
  margin-bottom: 40px;
}
.deal_shoe .deal_link {
  cursor: pointer;
  margin-top: 20px;
  margin-bottom: 40px;
  display: flex;
  justify-content: center;
  gap: 40px;
  text-align: center;
}
.deal_shoe .deal_link img {
  background-color: #e1680b;
}
.deal_shoe .deal_link .dealtext_link {
  padding: 20px;
  font-weight: 600;
  font-size: 24px;
  text-transform: uppercase;
  color: #191919;
  transition: all 0.5s;
}
.deal_shoe .deal_link .dealtext_link:hover {
  color: #e1680b;
}
.deal_shoe .deal_content .swiper .swiper-wrapper .swiper-slide {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}
.deal_shoe .deal_content .swiper .swiper-wrapper .swiper-slide .swiper-slide-img {
  height: 70%;
}
.deal_shoe .deal_content .swiper .swiper-wrapper .swiper-slide .swiper-slide-img img {
  width: 100%;
  height: 100%;
}
.deal_shoe .deal_content .swiper .swiper-wrapper .swiper-slide .swiper-slide-text {
  padding: 30px;
  height: 30%;
}
.deal_shoe .deal_content .swiper .swiper-wrapper .swiper-slide .swiper-slide-text .swiper_title {
  display: flex;
  justify-content: space-between;
  gap: 10px;
  cursor: pointer;
}
.deal_shoe .deal_content .swiper .swiper-wrapper .swiper-slide .swiper-slide-text .swiper_title h5 {
  font-family: "Audiowide", sans-serif;
  font-weight: 400px;
  font-size: 20px;
  text-transform: capitalize;
  color: #191919;
  transition: all 0.5s;
}
.deal_shoe .deal_content .swiper .swiper-wrapper .swiper-slide .swiper-slide-text .swiper_title h5:hover {
  color: #fbbf18;
}
.deal_shoe .deal_content .swiper .swiper-wrapper .swiper-slide .swiper-slide-text .swiper_title a {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  line-height: 60px;
  background-color: #e1680b;
  text-align: center;
}
.deal_shoe .deal_content .swiper .swiper-wrapper .swiper-slide .swiper-slide-text .swiper_title a .fa-cart-shopping {
  color: #ffffff;
  font-size: 20px;
}
.deal_shoe .deal_content .swiper .swiper-wrapper .swiper-slide .swiper-slide-text .swiper_title a:hover {
  background-color: #fbbf18;
}
.deal_shoe .deal_content .swiper .swiper-wrapper .swiper-slide .swiper-slide-text .swiper_title a:hover .fa-cart-shopping {
  color: #191919;
}
.deal_shoe .deal_content .swiper .swiper-wrapper .swiper-slide .swiper-slide-text .star .fa-star {
  color: #fbbf18;
}
.deal_shoe .swiper-pagination {
  display: none;
}

.brand_shoe .brand_title {
  padding: 144px 40px 0;
  text-align: center;
  color: #191919;
  line-height: 1.5;
}
.brand_shoe .brand_title .titlebrand {
  font-family: "Audiowide", sans-serif;
  font-weight: 400px;
  color: #e1680b;
  font-size: 35px;
  text-transform: uppercase;
}
.brand_shoe .brand_title .descriptionbrand {
  padding: 10px;
  font-size: 16px;
}
.brand_shoe .brand_content {
  padding: 144px 40px 0;
  padding-top: 54px;
  display: grid;
  grid-template-columns: repeat(4, 1fr); /* 5 cột với chiều rộng bằng nhau */
  gap: 20px; /* Khoảng cách giữa các cột */
  width: 100%; /* Chiều rộng của container */
}
@media (max-width: 992px) {
  .brand_shoe .brand_content {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media (max-width: 768px) {
  .brand_shoe .brand_content {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 576px) {
  .brand_shoe .brand_content {
    grid-template-columns: repeat(1, 1fr);
  }
}
.brand_shoe .brand_content .img_center {
  border: 5px solid #e1680b;
  border-radius: 10em;
  overflow: hidden;
}
.brand_shoe .brand_content .brand_img a {
  display: block;
  width: 100%;
  height: 100%;
}
.brand_shoe .brand_content .brand_img a img {
  width: 100%;
  height: 100%;
  position: relative;
}
.brand_shoe .brand_content .brand_img {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 5px solid #e1680b;
  border-radius: 10em;
  overflow: hidden;
  width: 100%;
  height: 100%;
}
.brand_shoe .brand_content .brand_img .imgItem {
  width: 100%;
  height: 100%;
}
.brand_shoe .brand_content .brand_img .imgItem a {
  display: block;
  width: 100%;
  height: 100%;
}
.brand_shoe .brand_content .brand_img .imgItem a img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.brand_shoe .brand_content .brand_img .icon_overlay {
  position: absolute;
  bottom: 5%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: rgba(255, 255, 255, 0);
  color: white;
  padding: 10px 20px;
  border-radius: 10px;
  text-align: center;
}
.brand_shoe .brand_content .brand_img .icon_overlay a {
  color: white;
  text-decoration: none;
}
.brand_shoe .brand_content .brand_img .icon_overlay a h3 {
  font-family: "Audiowide", sans-serif;
}
.brand_shoe .brand_content .brand_imgcenter {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 5px solid #e1680b;
  border-radius: 10em;
  overflow: hidden;
  width: 100%;
  height: 100%;
}
.brand_shoe .brand_content .brand_imgcenter .imgcenter {
  width: 100%;
  height: 100%;
}
.brand_shoe .brand_content .brand_imgcenter .imgcenter a {
  display: block;
  width: 100%;
  height: 100%;
}
.brand_shoe .brand_content .brand_imgcenter .imgcenter a img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.brand_shoe .brand_content .brand_imgcenter .icon_overlay {
  position: absolute;
  bottom: 5%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: rgba(255, 255, 255, 0);
  color: white;
  padding: 10px 20px;
  border-radius: 10px;
  text-align: center;
}
.brand_shoe .brand_content .brand_imgcenter .icon_overlay a {
  color: white;
  text-decoration: none;
}
.brand_shoe .brand_content .brand_imgcenter .icon_overlay a h3 {
  font-family: "Audiowide", sans-serif;
}
.brand_shoe .banner_sale {
  margin: 60px 0;
  width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
.brand_shoe .banner_sale .banner_img {
  max-width: 100%;
  height: 100%;
}

.suggest_shoe {
  padding: 60px 40px 0;
}
.suggest_shoe .suggest_top {
  margin-bottom: 40px;
  display: flex;
  justify-content: space-between;
  color: #191919;
}
.suggest_shoe .suggest_top .suggest_title h3 {
  font-family: "Audiowide", sans-serif;
  font-weight: 400px;
  font-size: 45px;
  text-transform: capitalize;
  color: #191919;
}
.suggest_shoe .suggest_top .suggest_navbar {
  display: flex;
  justify-content: center;
  gap: 20px;
  cursor: pointer;
}
.suggest_shoe .suggest_top .suggest_navbar .navbar_link {
  font-family: "Audiowide", sans-serif;
  font-weight: 400px;
  font-size: 24px;
  color: #191919;
  text-transform: capitalize;
  padding: 0.8rem 2.5rem;
  border: 1px solid #e1680b;
  font-weight: 400px;
  border-radius: 30px;
  transition: all 0.5s;
}
.suggest_shoe .suggest_top .suggest_navbar .navbar_link:hover {
  border: 1px solid #fbbf18;
  color: #e1680b;
}
.suggest_shoe .suggest_top .suggest_navbar .active {
  color: #e1680b;
  border: 1px solid #fbbf18;
}
.suggest_shoe .suggest_bottom {
  cursor: pointer;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 20px;
  padding: 10px;
}
.suggest_shoe .suggest_bottom .suggest_product .suggest_item {
  box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px, rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px;
  padding: 10px;
  background: #fff;
  border-radius: 8px;
  transition: all 0.5s;
}
.suggest_shoe .suggest_bottom .suggest_product .suggest_item:hover .suggest_icon {
  bottom: 0;
}
.suggest_shoe .suggest_bottom .suggest_product .suggest_item .suggest_img {
  position: relative;
  overflow: hidden;
  z-index: 1;
}
.suggest_shoe .suggest_bottom .suggest_product .suggest_item .suggest_img img {
  width: 100%;
  border-radius: 8px 8px 0 0;
}
.suggest_shoe .suggest_bottom .suggest_product .suggest_item .suggest_icon {
  position: absolute;
  bottom: -227px;
  margin: 0;
  background: rgba(8, 8, 8, 0);
  padding: 20px 0;
  width: 100%;
  text-align: center;
  transition: all 0.5s;
}
.suggest_shoe .suggest_bottom .suggest_product .suggest_item .suggest_icon .suggest_icon_design {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  line-height: 40px;
  background: #e1680b;
  display: inline-block;
  margin-left: 10px;
}
.suggest_shoe .suggest_bottom .suggest_product .suggest_item .suggest_icon .suggest_icon_design .fa-cart-shopping {
  color: #ffffff;
}
.suggest_shoe .suggest_bottom .suggest_product .suggest_item .suggest_text {
  padding: 20px;
  text-transform: capitalize;
}
.suggest_shoe .suggest_bottom .suggest_product .suggest_item .suggest_text .suggest_text_name {
  color: #191919;
  transition: all 0.5s;
}
.suggest_shoe .suggest_bottom .suggest_product .suggest_item .suggest_text .suggest_text_name:hover {
  color: #fbbf18;
}

.question_shoe {
  padding: 144px 40px 0;
  display: flex;
  justify-content: space-between;
  gap: 20px;
}
.question_shoe .question_left {
  width: 50%;
}
.question_shoe .question_left .question_title h3 {
  font-family: "Audiowide", sans-serif;
  font-weight: 400px;
  font-size: 45px;
  text-transform: capitalize;
  color: #191919;
  margin-bottom: 50px;
}
.question_shoe .question_left .accordion-flush .accordion-item {
  background-color: #F3F3F3;
  border: 0;
  border-radius: 20px;
  padding: 2rem;
  margin-bottom: 2rem;
}
.question_shoe .question_left .accordion-flush .accordion-item h2 button {
  background-color: #F3F3F3;
  font-family: "Audiowide", sans-serif;
  font-weight: 400px;
  font-size: 24px;
  text-transform: capitalize;
  color: #191919;
}
.question_shoe .question_left .accordion-flush .accordion-collapse .accordion-body p {
  color: #191919;
  font-size: 20px;
}
.question_shoe .question_right {
  width: 50%;
}
.question_shoe .question_right .question_img {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
.question_shoe .question_right .question_img .img_queston {
  width: 70%;
  height: auto;
}
.question_shoe .question_right .question_img .icon_question {
  position: absolute;
  bottom: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: rgba(255, 255, 255, 0);
  color: white;
  padding: 10px 20px;
  text-align: center;
}

.news_shoe {
  padding: 100px 40px 0;
}
.news_shoe .news_title {
  max-width: 100%;
  display: flex;
  justify-content: flex-start;
  flex-direction: row;
  -moz-column-gap: 10%;
       column-gap: 10%;
  margin-bottom: 3rem;
}
.news_shoe .news_title .title {
  width: 20%;
}
.news_shoe .news_title .title h3 {
  font-family: "Audiowide", sans-serif;
  font-weight: 400px;
  font-size: 35px;
  text-transform: capitalize;
  color: #191919;
}
.news_shoe .news_title .title_text {
  width: 80%;
}
.news_shoe .news_title .title_text p {
  color: #191919;
  font-size: 20px;
}
.news_shoe .news_content {
  cursor: grab;
}
.news_shoe .news_content .swiper .swiper-wrapper .swiper-slide {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}
.news_shoe .news_content .swiper .swiper-wrapper .swiper-slide .swiper-slide-img {
  height: 70%;
}
.news_shoe .news_content .swiper .swiper-wrapper .swiper-slide .swiper-slide-img img {
  width: 100%;
  height: 100%;
}
.news_shoe .news_content .swiper .swiper-wrapper .swiper-slide .swiper-slide-text {
  padding: 30px;
  height: 30%;
}
.news_shoe .news_content .swiper .swiper-wrapper .swiper-slide .swiper-slide-text .swiper_title {
  display: flex;
  justify-content: space-between;
  gap: 10px;
  cursor: pointer;
}
.news_shoe .news_content .swiper .swiper-wrapper .swiper-slide .swiper-slide-text .swiper_title h5 {
  font-family: "Audiowide", sans-serif;
  font-weight: 400px;
  font-size: 20px;
  text-transform: capitalize;
  color: #191919;
  transition: all 0.5s;
}
.news_shoe .news_content .swiper .swiper-wrapper .swiper-slide .swiper-slide-text .swiper_title h5:hover {
  color: #fbbf18;
}
.news_shoe .news_content .swiper .swiper-wrapper .swiper-slide .swiper-slide-text .swiper_title a {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  line-height: 60px;
  background-color: #e1680b;
  text-align: center;
}
.news_shoe .news_content .swiper .swiper-wrapper .swiper-slide .swiper-slide-text .swiper_title a .fa-cart-shopping {
  color: #ffffff;
  font-size: 20px;
}
.news_shoe .news_content .swiper .swiper-wrapper .swiper-slide .swiper-slide-text .swiper_title a:hover {
  background-color: #fbbf18;
}
.news_shoe .news_content .swiper .swiper-wrapper .swiper-slide .swiper-slide-text .swiper_title a:hover .fa-cart-shopping {
  color: #191919;
}
.news_shoe .news_content .swiper .swiper-wrapper .swiper-slide .swiper-slide-text .star .fa-star {
  color: #fbbf18;
}
.news_shoe .swiper-pagination {
  display: none;
}

.support_shoe .support_top {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  padding: 40px 40px;
  background-color: #e1680b;
  list-style: none;
  color: #ffffff;
  font-size: 35px;
  text-align: center;
  align-items: center;
  margin-bottom: 0;
}
.support_shoe .support_top .support_top_item span {
  color: #ffffff;
  font-size: 22px;
  font-weight: 600;
  text-transform: capitalize;
  padding: 0 20px;
}
.support_shoe .support_bottom {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  max-width: 100%;
  margin: 0 auto;
}
.support_shoe .support_bottom .support_item {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  width: 100%;
  height: 100%;
}
.support_shoe .support_bottom .support_item img {
  position: relative;
  width: 100%;
  height: 100%;
}
.support_shoe .support_bottom .support_item img:hover .icon_overlay {
  opacity: 1;
}
.support_shoe .support_bottom .support_item .icon_overlay {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: rgba(255, 255, 255, 0.1);
  border-radius: 10px;
  text-align: center;
  padding: 96px 109px;
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}
.support_shoe .support_bottom .support_item .icon_overlay a {
  font-size: 45px;
  color: #191919;
  width: 40px;
  height: 40px;
  line-height: 40px;
  border-radius: 50%;
  background-color: #ffffff;
  padding: 20px;
  transition: all 0.5s;
}
.support_shoe .support_bottom .support_item .icon_overlay a:hover {
  color: #fbbf18;
}
.support_shoe .support_bottom .support_item:hover .icon_overlay {
  opacity: 1;
}

footer {
  background-color: #191919;
  color: #ffffff;
  padding: 0 40px;
  font-size: 16px;
}
footer .footer--sub {
  padding-top: 80px;
}
footer .footer--sub .footer_item1 p {
  margin: 41px 0;
}
footer .footer--sub .footer_item2 h6 {
  font-weight: 400;
  font-size: 24px;
  margin-bottom: 20px;
  font-family: "Audiowide", sans-serif;
}
footer .footer--sub .footer_item2 ul li {
  margin-bottom: 10px;
  padding: 6px;
  list-style: none;
}
footer .footer--sub .footer_item2 ul li a {
  color: #ffffff;
}
footer .footer--sub .footer_item2 ul li a:hover {
  color: #fbbf18;
}
footer .footer--sub .footer_item3 .about h6 {
  color: #e1680b;
  font-size: 24px;
  margin-bottom: 20px;
  margin-left: 30px;
  font-family: "Audiowide", sans-serif;
}
footer .footer--sub .footer_item3 .about .form-email {
  display: flex;
}
footer .footer--sub .footer_item3 .about .form-email .form-input-email {
  position: relative;
  margin-left: 2rem;
  width: 300px;
}
footer .footer--sub .footer_item3 .about .form-email .btnEmail {
  position: absolute;
  background-color: #e1680b;
  color: #ffffff;
  right: 180px;
  width: 38px;
  height: 38px;
  border-radius: 8px;
  transition: all 0.5s;
  border: 1px solid transparent;
  cursor: pointer;
}
footer .footer--sub .footer_item3 .about .form-email .btnEmail:hover {
  background-color: #fbbf18;
  color: #191919;
}
footer .footer--sub .footer_item3 .about .socail-icon {
  margin-top: 20px;
}
footer .footer--sub .footer_item3 .about .socail-icon ul {
  display: flex;
  list-style: none;
}
footer .footer--sub .footer_item3 .about .socail-icon ul li {
  padding: 11px;
}
footer .footer--sub .footer_item3 .about .socail-icon ul li a {
  display: inline-block;
  margin-right: 10px;
  width: 30px;
  height: 30px;
  text-align: center;
  line-height: 30px;
  cursor: pointer;
  background-color: #ffffff;
  border-radius: 50%;
  transition: all 0.5s;
  color: #191919;
}
footer .footer--sub .footer_item3 .about .socail-icon ul li a:hover {
  color: #fbbf18;
}
footer .footer--sub .copyright {
  font-size: 16px;
  text-align: center;
}

body .back_to_top {
  position: fixed;
  bottom: 90px;
  right: 15px;
  background-color: #e1680b;
  color: #ffffff;
  width: 60px;
  height: 60px;
  line-height: 60px;
  text-align: center;
  border-radius: 50%;
  opacity: 0;
  visibility: hidden;
  transition: all 0.1s;
}
body .back_to_top:hover {
  background-color: #fbbf18;
}
body .cd-top--is-visible {
  visibility: visible;
  opacity: 1;
}
body .cd-top--fade-out {
  opacity: 0.5;
}

.registerForm input[type=text],
.registerForm input[type=email],
.registerForm input[type=number],
.registerForm input[type=phone] {
  padding: 10px 30px;
  font-size: 16px;
  line-height: 26px;
  background-color: #ffffff;
  border: 1px solid #cccccc;
  border-radius: 50px;
  transition: all 0.5s;
}
.registerForm input[type=text]::-moz-placeholder, .registerForm input[type=email]::-moz-placeholder, .registerForm input[type=number]::-moz-placeholder, .registerForm input[type=phone]::-moz-placeholder {
  color: #757575;
  font-size: 16px;
  line-height: inherit;
  margin: 0;
  padding: 0;
}
.registerForm input[type=text]::placeholder,
.registerForm input[type=email]::placeholder,
.registerForm input[type=number]::placeholder,
.registerForm input[type=phone]::placeholder {
  color: #757575;
  font-size: 16px;
  line-height: inherit;
  margin: 0;
  padding: 0;
}
.registerForm input[type=text]:focus,
.registerForm input[type=email]:focus,
.registerForm input[type=number]:focus,
.registerForm input[type=phone]:focus {
  box-shadow: none;
  outline: none;
  padding: 10px 10px;
}
.registerForm input[type=radio] {
  background-color: #e1680b;
  font-size: 24px;
}
.registerForm label {
  font-size: 24px;
}
.registerForm .register_content {
  background-color: #f0f0f0;
  padding: 40px;
}
.registerForm .register_content .btnGroup {
  margin: auto;
  text-align: center;
}
.registerForm .title_form a {
  font-family: "Audiowide", sans-serif;
  color: black;
  transition: all 0.5s;
}
.registerForm .title_form a:hover {
  color: #fbbf18;
}

.banner {
  background-image: url("../../image/img086.png");
  height: 400px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.banner::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background: #ffffff;
  opacity: 0.38;
}
.banner .banner_content a,
.banner .banner_content i,
.banner .banner_content span {
  font-size: 18px;
  vertical-align: middle;
  margin-right: 10px;
}
.banner .banner_content a {
  transition: all 0.5s;
  color: black;
}
.banner .banner_content a:hover {
  color: #fbbf18;
}
.banner .banner_content i {
  font-size: 10px;
  font-weight: light;
}

.cta .cta_form {
  padding: 0 10px;
}
.cta .cta_form input[type=text],
.cta .cta_form input[type=email] {
  padding: 10px 30px;
  font-size: 16px;
  line-height: 26px;
  background-color: #ffffff;
  border: 1px solid #cccccc;
  border-radius: 50px;
  transition: all 0.5s;
}
.cta .cta_form input[type=text]::-moz-placeholder, .cta .cta_form input[type=email]::-moz-placeholder {
  color: #757575;
  font-size: 16px;
  line-height: inherit;
  margin: 0;
  padding: 0;
}
.cta .cta_form input[type=text]::placeholder,
.cta .cta_form input[type=email]::placeholder {
  color: #757575;
  font-size: 16px;
  line-height: inherit;
  margin: 0;
  padding: 0;
}
.cta .cta_form input[type=text]:focus,
.cta .cta_form input[type=email]:focus {
  box-shadow: none;
  outline: none;
  padding: 10px 10px;
}
.cta .cta_form textarea {
  padding: 10px 30px;
  font-size: 16px;
  line-height: 26px;
  background-color: #ffffff;
  border: 1px solid #cccccc;
  border-radius: 30px;
  transition: all 0.5s;
}
.cta .cta_form textarea::-moz-placeholder {
  color: #757575;
  font-size: 16px;
  line-height: inherit;
  margin: 0;
  padding: 0;
}
.cta .cta_form textarea::placeholder {
  color: #757575;
  font-size: 16px;
  line-height: inherit;
  margin: 0;
  padding: 0;
}
.cta .cta_form textarea:focus {
  box-shadow: none;
  outline: none;
  padding: 10px 10px;
}
.cta .cta_img {
  padding: 0 10px;
}
.cta .cta_img img {
  width: 100%;
  max-width: 700px;
  max-height: 562px;
}

.info .col-xl-4 {
  padding: 0 20px;
}
.info .bg-orange {
  background-color: #e1680b;
  padding: 50px;
}
.info .bg-orange .info_item {
  margin-bottom: 20px;
}
.info .bg-orange .info_item i {
  font-size: 28px;
  color: white;
  margin-right: 30px;
}
.info .bg-orange .info_item p,
.info .bg-orange .info_item a {
  font-size: 16px;
  color: white;
  transition: all 0.5s;
}
.info .bg-orange .info_item a:hover {
  color: #fbbf18;
}

.ShoeMap .col-xl-12 {
  padding: 0 20px;
}/*# sourceMappingURL=style.css.map */