body {
    font-family: "Outfit", sans-serif;
}

.container .row .col-lg-6 h1 {
    font-size: 20px;
    padding-top: 50px;
    padding-bottom: 20px;
    font-family: "Outfit", sans-serif;
}

.col-lg-16 {
    padding: 35 55px;
    margin-top: 75px;
}

.text-separate-color {
    color: #e1680b;
}

.col-lg-6 h2 {
    font-size: 50px;
    font-family: "Outfit", sans-serif;
    margin: 20px;
}

.col-lg-6 p {
    font-size: 16px;
}

.button-shop {
    background-color: #e1680b;
    color: #191919;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 14px;
}

.button-shop:hover {
    /* background-color: darken(#e1680b, 10%); */
    padding: 20px 35px;
    font-size: 20px;
    font-weight: 500;
    background-image: linear-gradient(to right,
            #f55f8d 0,
            #f8ae56 51%,
            #f55f8d 100%);
    background-size: 200%;
    border: 1px solid transparent;
    transition: all 0.5s;
    border-radius: 20px;
    color: white;
    cursor: pointer;
    text-transform: uppercase;
    line-height: 1.2;
}

.img-fluid {
    max-width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

/* banner */
.banner {
    display: flex;
    padding: 0;
    margin-left: auto;
    margin-right: auto;
    list-style: none;
    cursor: grab;
}

.container .row-title {
    text-align: center;
    margin: 30px;
}

.banner .banner_item1 {
    border: 12px solid transparent;
    border-radius: 10em;
    position: relative;
    display: block;
    width: 100%;
    height: 700;
}

.banner .banner_item1 img {
    max-width: 100%;
    height: 100%;
}

.content1 {
    text-align: center;
    margin: 0;
    bottom: 71px;
    left: 0;
    right: 0;
}

.content1 h4 {
    margin: 0;
    font-size: 1.5em;
    font-weight: 500;
    line-height: calc(1 + 0.3 / max(1, var(--font-heading-scale)));
    font-family: var(--font-heading-family);
    padding-bottom: 30px;
}

/* Fresh picks for you */
.container .collection h2 {
    text-align: center;
    font-size: 35px;
}

.container .collection p {
    max-width: 56%;
    margin: 10px;
    text-align: center;
}

.image-width-text_grid .tabs {
    display: flex;
    justify-content: center;
    margin-right: 20px;
    position: relative;
    font-size: clamp(1.6rem, 1.5rem + 0.4vw, 2rem);
}

.view-all-product {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    margin-top: 20px;
}

.product_title {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

.view-item {
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    padding: 20px;
    text-align: center;
    width: 300px;
}

.view-item img {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
}

.view-item h3 {
    font-size: 1.25em;
    margin: 15px 0;
    color: #333;
}

.view-item p {
    font-size: 1em;

    color: #ff6600;

    margin: 10px 0;
}

.rating {
    color: #ffd700;
    margin: 10px 0;
}

.cart-button {
    background-color: #ff6600;
    border: none;
    border-radius: 50%;
    color: white;
    cursor: pointer;
    font-size: 1.25em;
    padding: 10px;
    width: 50px;
    height: 50px;
    transition: background-color 0.3s;
    font-weight: bold;
    text-align: center;
}

.cart-button:hover {
    background-color: hwb(46 3% 4%);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
    transform: translateY(-3px);
}

.cart-button:active {
    transform: translateY(1px);
}

.product-bt {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    border: 0;
    cursor: pointe;
    text-decoration: none;
    font-weight: 400;
    border-radius: 60px;
    letter-spacing: 0.9px;
    min-height: 5rem;
}

.product-bt:hover {
    background-color: #e1680b;
    box-shadow: rgba(0, 0, 0, 0.2);
}

/* banner */