
$blue-100:#4A6D97;
$black-100:#191919;
$yellow-100:#FBBF18;
$orange-100: #E1680B;
$color:#ffffff;

// FONT SIZE
$text-title: 55px;
$text-sm: 14px;
$text-base: 16px;
$text-lg: 18px;
$text-xl:20px;
$text-2xl:24px;
$text-3xl:28px;
$text-4xl:35px;

