.question_shoe{
    padding: 144px 40px 0;
    display: flex;
    justify-content: space-between;
    gap: 20px;
    .question_left{
        width: 50%;
        .question_title{
            h3{
                font-family: $font-family;
                font-weight: $fw;
                font-size: $text-5xl;
                text-transform: capitalize;
                color: $black-100;
                margin-bottom: 50px;
            } 
        }
        .accordion-flush{
           
            .accordion-item{
                background-color: #F3F3F3; 
                border: 0;
                border-radius: 20px;
                padding: 2rem;
                margin-bottom: 2rem;
                h2{
                   button{
                    background-color: #F3F3F3;
                    font-family: $font-family;
                    font-weight: $fw;
                    font-size: $text-2xl;
                    text-transform: capitalize;
                    color: $black-100;
                   } 
                }
            }
            .accordion-collapse{
                .accordion-body{
                    p{
                        color: $black-100;
                        font-size: $text-xl;
                    }
                }
            }
        }
    }
    .question_right{
        width: 50%;
        .question_img{
            position: relative;
            display: flex;
            justify-content: center;
            align-items: center;
            // Để hình ảnh không tràn ra ngoài border 
            overflow: hidden; 
            .img_queston{
            width: 70%;
            height: auto;
            }
            // .ripple-container {
            //     position: relative;
            //     display: inline-block;
            //     overflow: hidden;
            //     border-radius: 50%;
            //     &::before{
            //         content: "";
            //         position: absolute;
            //         top: 50%;
            //         left: 50%;
            //         width: 200%;
            //         height: 200%;
            //         background: rgba(255, 255, 255, 0.4);
            //         border-radius: 50%;
            //         transform: scale(0);
            //         transition: transform 0.5s ease, opacity 0.5s ease;
            //         opacity: 0;
            //         pointer-events: none;
            //     }
            //     &:hover{
            //         .icon_question{
            //             transform: scale(1.1);
            //         }
            //         &::before{
            //             transform: scale(1);
            //             opacity: 1;
            //         }
            //     }
            // }
            .icon_question{
                position: absolute;
                bottom: 30%;
                left: 50%;
                transform: translate(-50%, -50%);
                background: rgba(255, 255, 255, 0);
                color: white;
                padding: 10px 20px;
                // border-radius: 10px;
                text-align: center;
                 }
        }
    }
}