.support_shoe{
    .support_top{
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 20px;
        padding: 40px 40px;
        background-color: $orange-100;
        list-style: none;
        color: $color;
        font-size: $text-4xl;
        text-align: center;
        align-items: center;
        margin-bottom: 0;
        .support_top_item{
            span{
                color: $color;
                font-size: $text-1xl;
                font-weight: 600;
                text-transform: capitalize;
                padding: 0 20px;
            }
        }

    }
    .support_bottom{
        display: grid;
        grid-template-columns: repeat(7, 1fr);
        // gap: 10px;
        max-width: 100%;
        margin: 0 auto;
        .support_item{
            position: relative;
            display: flex;
            justify-content: center;
            align-items: center;
            // border: 5px solid $orange-100;
            // border-radius: 10em;
            // Để hình ảnh không tràn ra ngoài border 
            overflow: hidden; 
            width: 100%; 
            height: 100%;
            img{
                position: relative;
                width: 100%;
                height: 100%;
                &:hover{
                    .icon_overlay{
                        opacity: 1;
                    }
                }
            }
            .icon_overlay {
                position: absolute;
                top: 50%;  // Center vertically
                left: 50%;
                transform: translate(-50%, -50%);
                background: rgba(255, 255, 255, 0.1);
                border-radius: 10px;
                text-align: center;
                padding: 96px 109px;
                opacity: 0;
                transition: opacity 0.5s ease-in-out;
                
                a {
                    font-size: $text-5xl;
                    color: $black-100;
                    width: 40px;
                    height: 40px;
                    line-height: 40px;
                    border-radius: 50%;
                    background-color: $color;
                    padding: 20px;
                    transition: all 0.5s;
                    &:hover{
                        color: $yellow-100;
                    }
                }
            }
        
            &:hover .icon_overlay {
                opacity: 1;
            }
        }
    }
}

@media (max-width: 1248px){
    .support_shoe{
        .support_top{
            font-size: $text-xl;
            .support_top_item{
                span{
                    font-size: $text-base;
                }
            }
        }
    }
}

@media (max-width: 990px){
    .support_shoe{
        .support_top{
            font-size: $text-base;
            .support_top_item{
                span{
                    font-size: $text-base;
                }
            }
        }
    }
}

@media (max-width: 768px){
    .support_shoe{
        .support_top{
            padding: 10px;
            font-size: $text-base;
            .support_top_item{
                
                span{
                    display: none;
                }
            }
        }
    }
}

@media (max-width: 576px){
    .support_shoe{
        .support_top{
            padding: 10px;
            font-size: $text-base;
            .support_top_item{
                
                span{
                    display: none;
                }
            }
        }
    }
}